*pycache*
__pycache__/
__pycache__/**
*.db

.vscode
vscode

*.xlsx

*.ini
alembic/

.venv/
venv/
.env/
env/
.venv
venv
.env
env

*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
__pycache__
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyz
*.pyo
*.pyc
*.pyo
.pytest_cache
.coverage
htmlcov
dist
build
*.egg-info
compose.yml
.tox
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

AppData/
mysql_container/